.playground{

background: green;

padding: 40px;
display: flex;
justify-content: space-between;

}

.dice{
flex-basis: 20%;
height: 100px;
padding: 2px;
background: orangered;

}

button{
    background: orange;

}

.dice-img{
width: 30%;

}